
.stock-table {
  margin-left:25%; 
  margin-right:25%;
  width: 50%;
}
.link{
  width: 100px;
  padding: 12px;
  margin: 0 6px 6px;
  background: blue;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
}

