body {
   background-color: silver;
   font-family: 'Playfair Display', serif;
}
.stock-table {
  margin-left:25%; 
  margin-right:25%;
  width: 50%;
}
.link{
  width: 100px;
  padding: 12px;
  margin: 0 6px 6px;
  background: blue;
  color: white;
}

.button-green{
  background-color: silver; 
    color: black; 
    border: 2px solid #4CAF50;
}
.big-button-green{
  background-color: silver; 
    color: black; 
    border: 2px solid #4CAF50;
    font-size: 1em;
}
.button-green:hover{
    background-color: #4CAF50;
    color: white;
}
.big-button-green:hover{
    background-color: #4CAF50;
    color: white;
}
.App{
  margin-left:25%; 
  margin-right:25%;
  padding: 10px;
  border: 5px;
  background-color: lightgray;
  border-style: groove;
}
#error-handler{
  color: red;
}