body {
   background-image: url(images/background.jpg);
   font-family: 'Playfair Display', serif;
   background-repeat: no-repeat;

     /* Full height */
  height: 100%;

  /* Center and scale the image nicely */

}
.stock-table {
  margin-left:25%; 
  margin-right:25%;
  width: 50%;
}

.link{
  width: 75px;
  padding: 12px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.logout{
  width: 75px;
  padding: 12px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  border: none;
  background: none;
  text-decoration:underline;
}

.addstock{
  width: 325px;
  padding: 12px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  border: none;
  background: none;
  text-decoration:underline;  
}

.App{
  margin-top:5%;
  margin-left:25%; 
  margin-right:25%;
  padding: 10px;
  border: 5px;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);  
}

.navbar{
  margin: 20px;
}

#error-handler{
  color: red;
}